.btn{
    border: 1px solid lightgray;
}
.btn:hover{
    border: 1px solid dodgerblue;
}

.dropdown-menu{
    width: 250px;
    height: 300px;
    overflow-y: auto;
}

.bi:hover , .dropdown-item{
cursor: pointer;
}